@{
    ViewData["Title"] = "Main";
}

<div class="background-image">
    <img src="res/back.jpg" alt="Header" class="bottom-image">

    <div class="logo-image">
        <div class="frosted-glass">
            <img src="res/logo.png" alt="Header" class="bottom-image">
        </div>
    </div>
</div>
