@{
    ViewData["Title"] = "Main";
}

<div class="container-image">
    <div class="background-image">
        <img class="breathing-object" src="res/back.jpg" alt="Header" class="bottom-image">
    </div>
</div>

<div class="block" style=" display: flex;">
    <div class="logo-image">
        <div class="frosted-glass">
            <img src="res/logo.png" alt="Header" class="bottom-image">
        </div>
    </div>
    <div style="padding:2%; margin-left:2%">
        <h2 class="block-title text-white">Шевцов Дмитрий - SXDXV</h2>
        <p class="block-text text-white">Цифровой дизайнер и программист. Если вы попали на эту страницу, значит явно заинтересованы в моем творчестве, либо навыках.</p>
    </div>
</div>